# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-rescue.dcm
*-save.pro
*-save.kicad_pcb
rescue-backup/

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Windows files
**/Thumbs.db

# Production files
*.zip

PCB/BROSE_LAWO_Adapter/fp-info-cache
PCB/LAWO_ESP32/fp-info-cache
